.name-img-section {
  display: flex;
  align-items: center;
}
.name-img-section img {
  border-radius: 50%;
}
.name-img-section h4 {
  font-size: 15px;
  font-family: sans-serif;
  margin-left: 20px;
}
.low-price {
  color: red;
}

.biding-value-button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
